<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="patch" th:action="@{'/admin/edit?id=' + ${user.getId()}}" th:object="${user}">
    <label for="name">Name:</label>
    <span th:text="${user.username}"></span>
    <input type="hidden" th:field="*{username}" id="name"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>Select Roles:</label><br/>
    <div th:each="role : ${roles}">
        <input type="checkbox" th:id="'role_' + ${role}" th:name="'roles'" th:value="${role}"
               th:checked="${user.roles.contains(role)}"/>
        <label th:for="'role_' + ${role}" th:text="${role}"></label><br/>
    </div>
    <br/>
    <input type="submit" value="UPDATE"/>
</form>

</body>
</html>