<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<h2>Информация о пользователях</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Пароль</th>
        <th>Роли</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td>
            <a th:href="@{'/admin/edit?id=' + ${user.getId()}}">Редактировать</a>
            <form th:method="delete" th:action="@{'/admin/delete?id=' + ${user.getId()}}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/admin/create">Добавить нового пользователя</a>
</body>
</html>
