
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        form {
            margin: auto;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<nav id="navbar-toggle-button" class="navbar navbar-dark bg-dark">
    <!-- Заполняется джсом -->
</nav>
<br>
<div class="row">
    <div class="col-md-2">
        <!-- ПАНЕЛЬКА СЛЕВА С ВЫБОРОМ АДМИН ИЛИ ЮЗЕР ПАНЕЛИ -->
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="admin-panel-tab" data-toggle="pill" href="#admin-panel" role="tab"
               aria-controls="admin-panel" aria-selected="true"><h5>Admin</h5></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false"><h5>User</h5></a>
        </div>
    </div>
    <div class="col-md-9">
        <div style="background-color: snow" class="tab-content" tabindex="0">
            <!--ПАНЕЛЬ АДМИНА-->
            <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="v-pills-home-tab"
                 tabindex="0">
                <h1>Admin panel</h1>
                <!--НАВИГАЦИЯ ВЫБОРА ТАБЛИЦЫ ЮЗЕРОВ И СОЗДАНИЯ ЮЗЕРА -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">
                            Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">New user
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!--ТАБЛИЦА ВСЕХ ЮЗЕРОВ-->
                    <div style="background-color: gainsboro" class="tab-pane fade show active card" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                        <h5 class="card-body" style="font-size: x-large">All users</h5>
                        <div class="tab-pane fade show active card" role="tabpanel" id="adminPanel">
                            <table class="table table-borderless table-striped card-body">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="user-table">
                                <!-- js заполняет -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--СТРАНИЦА СОЗДАНИЯ ЮЗЕРА-->
                    <div style="background-color: gainsboro" class="tab-pane fade card" id="profile"
                         role="tabpanel" aria-labelledby="home-tab">

                    </div>
                </div>
            </div>
            <!--ПАНЕЛЬ ЮЗЕРА-->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab"
                 tabindex="0">
                <h1>User panel</h1>
                <div class="tab-content">
                    <div style="background-color: gainsboro" class="tab-pane fade show active card"
                         role="tabpanel" aria-labelledby="home-tab">
                        <h5 class="card-body" style="font-size: x-large">About user</h5>
                        <div class="tab-pane fade show active card" role="tabpanel">
                            <table class="table table-borderless table-striped card-body">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Roles</th>
                                </tr>
                                </thead>
                                <tbody id="user-panel">
                                <!-- js заполняет -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/scriptForMain.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
