<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
<h2>Регистрация пользователя</h2>
<form action="/registration" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
    </div>

    <label>Select Roles:</label><br/>
    <div th:each="role : ${roles}">
        <input type="checkbox" th:id="'role_' + ${role}" th:name="'roles'" th:value="${role}"/>
        <label th:for="'role_' + ${role}" th:text="${role}"></label><br/>
    </div>

    <div>
        <button type="submit">Confirm registration</button>
    </div>


</form>
</body>
</html>
